body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #mainbox{
    display: flex;
    padding: 0;
    margin: 0;
    outline-offset:-10px; 
    border: 1px solid rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
  }
  #headingbox{
    display: flex;
    background-color:black;
    outline-offset: -10px;
    color:white;
    height: 30px;
    border: 0;
    width:100%;
    margin:0;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #infobox{
    display: flex;
    flex-direction: column;
    height:370px;
    width: 100%;
    justify-content: center;
    
  }
  #name{
    height:30px;
    border: solid grey 1px;
    border-top: 0px;
    width:95%;
    align-self: center;
    border-left: 0px;
    border-right: 0px;
  }
  #emailId{
    height:30px;
    border: solid grey 1px;
    border-top: 0px;
    width:95%;
    align-self: center;
    border-left: 0px;
    border-right: 0px;
  }
  #password{
    height:30px;
    width: 95%;
    border: solid grey 1px;
    align-self:center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  p{
    margin: 0;
    padding: 0;
  }
  h3{
    
    margin: 0;
    padding: 0;
  }
  #signInBtn{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
    align-self: center;
    margin-top: 20px;
    font-weight: 700;
    border: 0px;
    color: white;
    background-color: black;
    border-radius: 15px;
    transition: 0.2s;
  }
  #signUpBtn{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 30px;
    align-self: center;
    margin-top: 20px;
    font-weight: 700;
    border: 0px;
    color: white;
    background-color: black;
    border-radius: 15px;
    transition: 0.2s;
    
  }
  #signInBtn:hover{
    background-color: grey;
    color: black;
  }
  #signUpBtn:hover{
    background-color: grey;
    color: black;
  }